@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html {
  scroll-behavior: smooth;
}

/* MOBILE */
body{
     background-color: rgb(213, 209, 209);
     font-family: "Montserrat", sans-serif;
}

header img{
    width: 40px;
    display: flex;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
    background-color:#053142;
}

header nav a{
    padding: 0.4em;
    color: white;
    text-decoration: none;
    margin-right: 0.5em;
    }

header nav a:hover{
    color:#29667e;
}

header nav a span:hover{
    color:#29667e;
}

a{
    transition: 0.3s;
}

span{
    color: #b6b7b9;
}

#hambur img{
    width: 30px;
}

nav{
    display: none;
}

#hero h1{
    font-family: "Boldonse", system-ui;
    font-size: 2em;
    color: white;
    margin: 0.5
}

#hero p{
    display: none;
}

#hero{
    background-image: url(img/hero\ img.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: bottom 30% center;
    color: white;
    text-align: center;
    align-content: center;
}



#principal h2{
    width: 100%;
    font-size: 1.5em;
    color: #29667e;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#principal article{
    padding:2em 2em 6em 2em;
    margin: 1em 1em 0 1em;
    border-radius: 15px;
    background-color:  #c0c4c4;
    box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.548);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    min-width: 250px;
    position: relative;  
}

#principal article h3{
    text-align: center;
    font-size: 1em;
    margin-top: 0;  
}

#principal article p{
    margin-bottom: 2rem;
    font-size: 0.8em
}

#principal a{
    background-color: #175f7c;
    border-radius: 1.8em;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8em;
    position: absolute;
    bottom: 20px;
}

#principal a:hover{
    background-color: #073e54;
}

#principal img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#principal #noimg img{
    display: none;
}

#principal #variante{
    display: none; 
}



#grilla{
    margin-top: 5em;
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center; 
    gap: 0;
}

#grilla img{
    
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;               
    margin: 0;                  
    padding: 0;
    border: none;
    object-fit: cover; 
}

.img9, .img10, .img11{
    display: none;
}

.img7{
    position: relative;
}

.img7 h2{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    color: beige;
    text-align: center;
    font-size: 1.8em;
    
}

.img7 a{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0.5em;
    border-radius: 1em;
    background-color: #29667e;
    color: white;
    font-size: 0.7em;
    text-decoration: none;
}

.img7 a:hover{
    background-color: #073e54;
}

.p1, .p2, .p3{
    display: none;
}


.formulario{
    margin: 4em;
    display: block;
    margin: 4em auto;
    font-size: 1em;
}

.formulario h2{
    font-size: 0.8em;
    color: #073e54;
    text-align: center;
    margin-bottom: 15px;
    
}

.formulario button{
    padding: 0.3em 2em 0.3em 2em;
    background-color: #3e98bb;
    color: white;
    font-weight: 500;
    margin: auto;
    display: block;
    border-radius: 1em;
    border: none;
}

.formulario button:hover{
    background-color: #053142;
}

.formulario input{
    padding: 0.4em;
    margin: 15px auto;
    display: block;
}


footer {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer h3{
    font-size: 0.7em;
}

footer img{
    width: 15px;
    height: 15px;
}



/* TABLET */
@media all and (min-width:768px){
    #hambur{
        display: none;
    }

    nav{
        display: block;
    }

    nav a{
        color: white;
        margin-right: 0.5em;
    }

    #hero h1{
        font-size: 3.3em;
    }

    #hero p{
        display: none;
    }

    #principal article{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc((100% - 4em) / 3);
        justify-content: space-around;
        min-width: 300px;
    }
        
    #principal{
        display: flex;
        flex-wrap: wrap;
        gap: 0.8em;
        justify-content: center;
    }

    #principal h2{
        font-size: 2.2em;
        margin-top: 1em;
    }

    #principal #noimg{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

   #principal #noimg img{
        width: 100%;
        display: flex;
    }

    .img9{
        display: flex;
    }

    #grilla{
        margin-top: 5em;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:repeat(3, 1fr);  
        justify-content: center; 
        gap: 0;
        aspect-ratio: 1 / 1;
    }

  
   .img7{
        grid-row: span 2; 
    }

    .img7 a{
        font-size: 1em;
        padding: 0.8em;
        border-radius: 1.5em;
        font-weight: bold;
    }

   .img9{
    grid-column: span 2;
    aspect-ratio: 2 / 1;
   }

   .formulario h2{
        font-size: 1.2em;
    }

    footer h3{
        font-size: 1em;
    }

    footer img{
        width: 25px;
        height: 25px;
        margin-right: 0.3em;
    }

    }

    
/* DESKTOP */
@media all and (min-width:1200px){
   
    nav{
        display: block;
    }

    nav a{
        color: white;
        margin-right: 0.5em;
    }

    #hero h1{
        font-size: 4.2em;
    }

    #hero p{
        display: block;
        margin: 1em 5em 0 5em;
        line-height: 1.5em;
        font-size: 1.5em;
        font-weight: bold;
    }

    #principal article{
        flex-basis: 250px;
        display: flex;
        flex-wrap: wrap;
        min-width: 350px;
    }

    #principal #variante{
        display: flex;
        flex-direction: column;
        gap: 1em;  
  }

  
    .img10, .img11{
        display: flex;
}
 

     #grilla{
        margin-top: 5em;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:repeat(2, 1fr);  
        justify-content: center; 
        gap: 0;
        aspect-ratio:initial;
    }

    .img9{
        grid-column: 3/5;
        grid-row: 1/2;
        aspect-ratio: 2 / 1;
    }

    .img7 h2{
        font-size: 2.2em;
    }

    #principal article{
        position: relative;
    }

   .p1, .p2, .p3{
    display: block;
    position: absolute;
    top:30px;
    right: 0;
    padding: 1em 1em 1em 3em;
    
   }

   .p1{
    background-color: #e15f5f;
    border: 1px solid black;
    color: white;
    font-weight: bold;
   }

   .p2{
    background-color: #992c2c;
    border: 1px solid black;
    color: white;
    font-weight: bold;
   }

   .p3{
    background-color: #6b1c1c;
    border: 1px solid black;
    color: white;
    font-weight: bold;
   }

    }